<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPing - 자동화 설정</title>
    <link rel="stylesheet" href="/css/MainPage.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/images/Logo.png" alt="SocialPing-Logo" class="socialping-logo">
            <h2 id="title"><a href="">SocialPing.com</a></h2>
        </div>
        <div id="links">
            <li><a href="">SocialPing이란 무엇인가</a></li>
            <li><a href="">핵심기능</a></li>
            <li><a href="">특징</a></li>
            <li><a href="">작동원리</a></li>
            <li><a href="">게시판</a></li>
        </div>
        <button id="member-btn">
            <div id="member">
                <img src="/images/profile.png" alt="" id="profile-icon">
                <div>
                    <p id="hello">안녕하세요</p>
                    <p id="username">홍길동 님</p>
                </div>
            </div>
        </button>
    </header>

    <div id="main-content">
        <div>
            <p id="shipment-title">발송 조건</p>
            <div id="if-send">
                <div id="send-if1">
                    <div id="follow-us">
                        <p>팔로우 / 논팔로우</p>
                        <select id="follows">
                            <option class="not-setting">설정안함</option>
                            <option id="follow">팔로우</option>
                            <option id="non-follow">논팔로우</option>
                        </select>
                    </div>
                    <div id="description1"><span>설정 안함</span>으로 설정하실 경우 상관 없이 DM을 발송합니다.</div>
                </div>

                <div id="send-if2">
                    <div id="keywording">
                        <p>키워드 필터링</p>
                        <select id="keyword">
                            <option class="not-setting">설정안함</option>
                            <option id="setting">설정함</option>
                        </select>
                    </div>
                    <div id="filtering-keyword-box">
                        <p id="filtering-keyword-description">필터링할 키워드 <span>(반드시 ,로 구분해서 입력해주세요.)</span></p>
                        <textarea name="filtering-keyword" id="filtering-keyword"></textarea>
                    </div>
                </div>

                <div id="send-if3">
                    <div id="comment">
                        <p>게시물 / 릴스 댓글 답장</p>
                        <select id="comments">
                            <option id="not-setting">설정안함</option>
                            <option id="post">게시물</option>
                            <option id="reels">릴스</option>
                        </select>
                    </div>
                    <div id="description2"><span>상관 없이</span> 게시물이나 릴스에 댓글이 달릴 경우 메시지를 발송합니다.</div>
                </div>

                <div id="send-if4">
                    <div id="send">
                        <p>DM / 대댓글</p>
                        <select id="sends">
                            <option id="dm">DM</option>
                            <option id="big-comment">대댓글</option>
                        </select>
                    </div>
                    <div id="message-ready">
                        <p id="message-text">메시지</p>
                        <textarea name="message" id="message"></textarea><br>
                        <button id="add-btn">버튼 추가</button>

                        <div id="buttons">
                            <div id="button-description">
                                <div>
                                    <p id="btn">버튼 1</p>
                                    <textarea name="messages" id="messages1" class="messages"></textarea>
                                </div>
                                <div>
                                    <p id="link">링크</p>
                                    <input type="text" id="link-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="save-btn">저장</button>
                </div>
            </div>
        </div>

        <div>
            <p id="preview-title">미리보기</p>
            <div id="preview">
                <img src="/images/iPhone.png" alt="" id="iphone-icon">
                <div id="preview-content">
                    <img src="/images/preview-profile.png" alt="" id="preview-profile-icon">
                    <h2 id="preview-name">길동 | 인스타그램</h2>
                    <p id="preview-username">ckrkyungmin</p>
                    <p id="preview-description1">팔로워 1.3만명 · 게시물 57개</p>
                    <button id="preview-profile-select">프로필 보기</button>
                </div>
            </div>
        </div>
    </div>

    <div id="preview-action">
        <div id="preview-action-box">
            <img src="/images/user.png" alt="" id="user-icon">
            <div id="preview-action-box2">
                <p id="preview-action-box2-p">댓글 감사합니다. 😊 버튼을 누르면 메시지가 발송돼요!</p>
                <div id="btns"></div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer-div">
            <div>
                <div id="footer-logo">
                    <img src="/images/Logo.png" alt="SocialPing-Logo" class="socialping-logo">
                    <h2 id="footer-title">SocialPing.com</h2>
                </div>
                <div id="footer-links">
                    <li>SocialPing이란 무엇인가</li>
                    <li>핵심기능</li>
                    <li>특징</li>
                    <li>작동원리</li>
                    <li>게시판</li>
                </div>
                <div id="copyright">
                    <p id="questions">문의사항: kyungmin2892@gmail.com</p>
                    <p id="copyright-title">SocialPing.com © 2025 모든 권리 보유</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="shadow"></div>

    <div id="page-choice-box-div">
        <div id="page-choice-box">
            <h3 id="page-choice-title">인스타그램 페이지</h3>
            <p id="page-choice-description">페이스북 페이지와 인스타그램 계정을 socialping과 연결하고 자동화 메시지를 설정해보세요.</p>
            <div id="page-choice">
                <table>
                    <tr>
                        <th scope="col" class="col">페이지</th>
                        <th scope="col" class="col">인스타그램 계정</th>
                        <th scope="col" class="col">서비스 연결</th>
                    </tr>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        const previewActionBox2P = document.getElementById('preview-action-box2-p');
        const linkInput = document.getElementById('link-input');
        let clickCount = 1;

        const btns = document.getElementById('btns');
        const btn2 = document.createElement('button');
        btn2.id = `preview-action-btn${clickCount}`;
        btn2.innerText = '메시지 보내주세요!';
        const br = document.createElement('br');
        btns.appendChild(btn2);
        btns.appendChild(br);

        const messagess = document.getElementById('messages1');
        messagess.addEventListener('blur', () => {
            btn2.innerText = messagess.value;
        });

        const message = document.getElementById('message');
        message.addEventListener('blur', () => {
            previewActionBox2P.innerText = message.value;
        });

        btn2.addEventListener('click', () => {
            let url = linkInput.value;
            open(url);
        });

        const addBtn = document.getElementById('add-btn');
        const buttons = document.getElementById('buttons');
        addBtn.addEventListener('click', function() {
            clickCount++;
            const buttonDescriptionDiv = document.createElement('div');
            buttonDescriptionDiv.id = 'button-description';

            const newDiv1 = document.createElement('div');
            buttonDescriptionDiv.appendChild(newDiv1);

            const btn = document.createElement('p');
            btn.id = 'btn';
            btn.innerText = `버튼 ${clickCount}`;
            const messages = document.createElement('textarea');
            messages.id = `messages${clickCount}`;
            messages.className = 'messages';
            newDiv1.appendChild(btn);
            newDiv1.appendChild(messages);

            const newDiv2 = document.createElement('div');
            buttonDescriptionDiv.appendChild(newDiv2);

            const link = document.createElement('p');
            link.id = 'link';
            link.innerText = '링크';
            const input = document.createElement('input');
            input.type = 'text';
            newDiv2.appendChild(link);
            newDiv2.appendChild(input);

            buttons.appendChild(buttonDescriptionDiv);

            const btns = document.getElementById('btns');
            const btn2 = document.createElement('button');
            btn2.id = `preview-action-btn${clickCount}`;
            btn2.innerText = '메시지 보내주세요!';
            const br = document.createElement('br');
            btns.appendChild(btn2);
            btns.appendChild(br);

            const messagess = document.getElementById(`messages${clickCount}`);
            messagess.addEventListener('blur', (event) => {
                for(let i = 0; i < clickCount; i++) {
                    btn2.innerText = messagess.value;
                }
            });

            btn2.addEventListener('click', () => {
                let url = input.value;
                open(url);
            });
        });

        const followsSelect = document.getElementById('follows');
        const keywordSelect = document.getElementById('keyword');
        const commentsSelect = document.getElementById('comments');
        const sendsSelect = document.getElementById('sends');

        followsSelect.addEventListener('change', () => {
            const description1 = document.getElementById('description1');
            let selectValue = followsSelect.options[document.getElementById('follows').selectedIndex].value

            switch(selectValue) {
                case '설정안함': {
                    description1.innerHTML = '<span>설정 안함</span>으로 설정하실 경우 상관 없이 DM을 발송합니다.';
                    break;
                }
                case '팔로우': {
                    description1.innerHTML = '<span>팔로우</span>로 설정하실 경우 팔로우한 유저에게만 DM을 발송합니다.';
                    break;
                }
                case '논팔로우': {
                    description1.innerHTML = '<span>논팔로우</span>로 설정하실 경우 팔로우하지 않은 유저에게만 DM을 발송합니다.';
                    break;
                }
            }
        });

        keywordSelect.addEventListener('change', () => {
            const filteringKeywordTextArea = document.getElementById('filtering-keyword');
            let selectValue = keywordSelect.options[document.getElementById('keyword').selectedIndex].value

            switch(selectValue) {
                case '설정안함': {
                    if (filteringKeywordTextArea.value !== null) filteringKeywordTextArea.value = '';
                    filteringKeywordTextArea.style.pointerEvents = 'none';
                    break;
                }
                case '설정함': {
                    filteringKeywordTextArea.style.pointerEvents = 'auto';
                    break;
                }
            }
        });

        commentsSelect.addEventListener('change', () => {
            const description2 = document.getElementById('description2');
            let selectValue = commentsSelect.options[document.getElementById('comments').selectedIndex].value

            switch(selectValue) {
                case '설정안함': {
                    description2.innerHTML = '<span>상관 없이</span> 게시물이나 릴스에 댓글이 달릴 경우 메시지를 발송합니다.';
                    break;
                }
                case '게시물': {
                    description2.innerHTML = '<span>게시물</span>에 댓글이 달릴 경우 메시지를 발송합니다.';
                    break;
                }
                case '릴스': {
                    description2.innerHTML = '<span>릴스</span>에 댓글이 달릴 경우 메시지를 발송합니다.';
                    break;
                }
            }
        });


        sendsSelect.addEventListener('change', () => {
            const messageReady = document.getElementById('message-ready');
            let selectValue = sendsSelect.options[document.getElementById('sends').selectedIndex].value

            switch(selectValue) {
                case 'DM': {
                    messageReady.innerHTML = `
                            <p id="message-text">메시지</p>
                            <textarea name="message" id="message"></textarea><br>
                            <button id="add-btn">버튼 추가</button>

                            <div id="buttons">
                                <div id="button-description">
                                    <div>
                                        <p id="btn">버튼 1</p>
                                        <textarea name="messages" id="messages1" class="messages"></textarea>
                                    </div>
                                    <div>
                                        <p id="link">링크</p>
                                        <input type="text" id="link-input">
                                    </div>
                                </div>
                            </div>
                        `;

                    const linkInput = document.getElementById('link-input');

                    clickCount = 1
                    const btns = document.getElementById('btns');
                    btns.innerHTML = ``;

                    const btn2 = document.createElement('button');
                    btn2.id = `preview-action-btn${clickCount}`;
                    btn2.innerText = '메시지 보내주세요!';
                    const br = document.createElement('br');
                    btns.appendChild(btn2);
                    btns.appendChild(br);

                    btn2.addEventListener('click', () => {
                        let url = linkInput.value;
                        open(url);
                    });

                    const messagess = document.getElementById('messages1');
                    messagess.addEventListener('blur', () => {
                        btn2.innerText = messagess.value;
                    });

                    const message = document.getElementById('message');
                    message.addEventListener('blur', () => {
                        previewActionBox2P.innerText = message.value;
                    });

                    const addBtn = document.getElementById('add-btn');
                    const buttons = document.getElementById('buttons');

                    addBtn.addEventListener('click', function() {
                        clickCount++;
                        const buttonDescriptionDiv = document.createElement('div');
                        buttonDescriptionDiv.id = 'button-description';

                        const newDiv1 = document.createElement('div');
                        buttonDescriptionDiv.appendChild(newDiv1);

                        const btn = document.createElement('p');
                        btn.id = 'btn';
                        btn.innerText = `버튼 ${clickCount}`;
                        const messages = document.createElement('textarea');
                        messages.id = `messages${clickCount}`;
                        messages.className = 'messages';
                        newDiv1.appendChild(btn);
                        newDiv1.appendChild(messages);

                        const newDiv2 = document.createElement('div');
                        buttonDescriptionDiv.appendChild(newDiv2);

                        const link = document.createElement('p');
                        link.id = 'link';
                        link.innerText = '링크';
                        const input = document.createElement('input');
                        input.type = 'text';
                        newDiv2.appendChild(link);
                        newDiv2.appendChild(input);

                        buttons.appendChild(buttonDescriptionDiv);

                        const btns = document.getElementById('btns');
                        const btn2 = document.createElement('button');
                        btn2.id = `preview-action-btn${clickCount}`;
                        btn2.innerText = '메시지 보내주세요!';
                        const br = document.createElement('br');
                        btns.appendChild(btn2);
                        btns.appendChild(br);

                        const messagess = document.getElementById(`messages${clickCount}`);
                        messagess.addEventListener('blur', (event) => {
                            for(let i = 0; i < clickCount; i++) {
                                btn2.innerText = messagess.value;
                            }
                        });

                        btn2.addEventListener('click', () => {
                            let url = input.value;
                            open(url);
                        });
                    });
                    break;
                }
                case '대댓글': {
                    messageReady.innerHTML = `<p id="message-text">메시지</p>
                            <textarea name="message" id="message"></textarea><br>
                        `;
                    break;
                }
            }
        });


        const body = document.querySelector('body');
        body.style.overflow = 'hidden';
        body.style.height = '100%';

        const shadow = document.getElementById('shadow');
        for(let i = 0; i < 2; i++) {
            const tbody = document.querySelector('tbody');
            const tr = document.createElement('tr');
            tr.id = 'row';
            tbody.appendChild(tr);

            const tdPageName = document.createElement('td');
            tdPageName.id = 'page-name';
            tdPageName.innerText = 'Test-test';
            tr.appendChild(tdPageName);

            const td = document.createElement('td');
            const divInstagramAccount = document.createElement('div');
            divInstagramAccount.id = 'instagram-account';
            td.appendChild(divInstagramAccount);
            tr.appendChild(td);

            const img = document.createElement('img');
            img.id = 'preview-profile';
            img.src = '/images/preview-profile.png';
            const p = document.createElement('p');
            p.id = 'instagram-username';
            p.innerText = 'Hong_Gil-dong';
            divInstagramAccount.appendChild(img);
            divInstagramAccount.appendChild(p);

            const tdButton = document.createElement('td');
            const button = document.createElement('button');
            button.id = 'page-connect-btn';
            button.innerText = '페이지 연결하기';

            const pageChoiceBoxDiv = document.getElementById('page-choice-box-div');
            button.addEventListener('click', function() {
                body.style.overflow = 'visible';
                body.style.height = '0';

                shadow.style.display = 'none';
                pageChoiceBoxDiv.style.display = 'none';
            });
            tdButton.appendChild(button);
            tr.appendChild(tdButton);
        }
    </script>
</body>
</html>